.app {
  text-align: center;
  font-size: 30px;
  margin: 40px
}

.nav-bar{
  background-color: #E95050;
  border-radius: 10px;
}

.nav-bar ul {
  margin: 0 0 5px 0;
}

.nav-bar ul li {
  list-style-type: none;
  display: inline;
  color: white;
}


.nav-bar a {
  text-decoration: none;
  color: white;
  margin: 0 30px;

}
.nav-bar a:hover {
  color: grey;
}

.app-title {
  font-size: 48px;
  background-color: #599E6D;
  margin: 5px 0;
  border-radius: 10px;
}

.time {
  background-color: #FFC16D;
  margin: 5px 0;
  border-radius: 10px;

}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 0 10px;
}

.input {
  margin: 0 auto;
  border: 5px;
}

.input button {
  margin: 0 15px;
}

.deadline-input {
  margin: 5px;
}
.row {
  background-color: #d9e5f7;
  border-radius: 10px;
  margin: 0 auto;
}

.format {
  font-size: 14px;
  padding-bottom: 5px;
  margin-left: 10px;
}
